//////////////////////////////////////////////////////////////////////////////
// declare global variables
$mainWhite: rgba(249, 249, 249, 1.0);
$mainPink: rgb(255, 3, 96);
$mainBlue: rgb(65, 241, 65);
$mainBlack: rgba(38, 26, 179, 1);
$mainFont: 'ZCOOL QingKe HuangYou', 'cursive';
//////////////////////////////////////////////////////////////////////////////
@mixin center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}
//////////////////////////////////////////////////////////////////////////////
@import "deviceResize";
@import "page";
//////////////////////////////////////////////////////////////////////////////
